.card {
  background: url(./empty-card.png);
  height: 651px;
  width: 429px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "din pro";
  font-weight: bold;
  font-size: 35px;
}

.Aggression {
  
}

.Mbappe {
  background: url(./card.jpg);
  height: 651px;
  width: 429px;
  background-size: contain;
  background-repeat: no-repeat;
}
